
@media only screen and (max-width: 600px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        width: 100%;
    }
    .container{
        height: 40vh;
    }

    .top-image{
        height: 100px;
        margin: 5px auto;
    }

    .top-text-portion{
        font-size: 100%;
    }

    .the-blue-banner{
        height: 40px;
    }

    main{
        width: 100vw;
        margin: 0;
    }

    .first-container{
        width: 100vw;
        display: flex;
        flex-flow: column wrap;
    }
    
    .first-container .frst{ 
        width: 50vw;
        
    }
    
    .second-container{
        width: 100vw;
        display: flex;
        flex-flow: column wrap; 
        
    }
    
    .third-container{
        width: 100vw;
        display: flex;
        flex-flow: column wrap; 
        
    }
    
    .fourth-container-sub{
        width: 100vw;
        display: flex;
        flex-flow: column wrap; 
    }
    
    footer{
        width: 100vw;

    }
  
}