* {
  box-sizing: border-box;
}
html {
  background-color: #efefef;
}

header {
  height: auto;
  width: 100%;
  background-color: #404040;
}

header .container {
  display: flex;
  height: auto;
  max-width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.top-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;

}
.top-image img {
  max-width: 100%;
  max-height: 190px;

}
.top-text-portion {
  width: 50%;
  font-size: 120%;
  color: aliceblue;
  justify-content: center;
}

.button-header {
  background-color: #4b99d4;
  height: 30px;
  border: 0;
  border-radius: 5px;
}

.the-blue-banner {
  background-color: #3f90ce;
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-self: center;
  position: relative;
}
.the-blue-banner p{
  flex: 1;
  margin-left: 4%;
}

.the-blue-banner::before{
  content: "";
  height: 0;
  width: 0;
  border-top: 40px solid #3f90ce;
  border-right:45px solid transparent;
  position: absolute;
  top: 100%;
}

.button-banner {
  background-color: white;
  height: 30px;
  border: 0;
  border-radius: 5px;
  margin-right: 2%;
}

.ribbon{
  border-image: url('../assets/Border-BG.jpg') 50 repeat;
  border-bottom: 10px solid transparent;

}

/* ******************MAIN STARTS******************** */

main {
  width: 80%;
  margin: 50px 150px 0 130px;
  background-color: #efefef;
}
.first-container {
  display: flex;
  margin: 10px 5px 10px 5px; 
  flex-direction: row; 
  justify-content: space-between; 
}

.frst {
  display: flex;
  /* flex: 0 1 20%; */ /* grow shrink width */
  flex-basis: 20%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .first-item{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.button-first-container {
  background-color: #4b99d4;
  height: 20px;
  border: 0;
  border-radius: 5px;
  color: white;
}

.ribbon2{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.ribbon-right{
  background-image: url('../assets/Border-BG.jpg');
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  height: 20px;
  transform: rotateY(180deg);
}

/* ********************** second container *********************** */
.second-container{
  display: flex;
  margin-bottom: 20px;  
  
}
.scnd{
  background: white;
  margin: 10px;
  position: relative;
}

.scnd-text-item{
  background-color: white;
}

.scnd:before{
  content: "";
  height: 0;
  width: 0;
  border-top: 40px solid white;
  border-right:45px solid transparent;
  position: absolute;
  top: 100%;

}
.scnd-image-item img{
  max-width: 100%;

}

/* ********************** third container *********************** */

.third-container{
    display: flex;
    margin-top: 50px;
}

.column{
  display:flex;
  flex-direction: column;
  margin: 0 20px 0 0; 
}
.box-one,.box-two,.box-three,.box-four{
  position: relative;
}

.column-three{
  max-width: 800px;
}
.box{
  background-color: white;
  margin: 25px 0 25px 0;
}
.box::before{
  content: "";
  height: 0;
  width: 0;
  border-top: 40px solid white;
  border-right:45px solid transparent;
  position: absolute;
  top: 100%;

}
.button-at-column{
  background-color: #4b99d4;
  height: 30px;
  border: 0;
  border-radius: 5px;
  color: white;
}

.the-blue-banner2 {
  background-color: #3f90ce;
  height: 50px;
  width: 100%;
  margin-top: 45px; 
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-self: center;
  position: relative;
}
.the-blue-banner2 p{
  flex: 1;
  margin-left: 4%;
}

.the-blue-banner2::before{
  content: "";
  height: 0;
  width: 0;
  border-top: 40px solid #3f90ce;
  border-right:45px solid transparent;
  position: absolute;
  top: 100%;
}
/* ################# Fourth conatiner starts ################ */
.fourth-container{
  height: 400px;
  width: 100%;
  background-color: #404040;
}
.fourth-container-sub{
  height: 300px;  
  width: 80%;
  background-color: #404040;
  display: flex;
  padding: 40px; 
}

.fc-one{
  flex: 1;
}
.fc-two{
  flex: 1;
}
.fc-three{
  flex: 1;
}
.fc-four{
  flex: 1;
}
.fc b{
  color: white;
  
}

.square-container{
  display: flex;
  flex-flow: row wrap;
  margin: 30px;

}

.square{
  height: 50px;
  width: 50px;
  background-color: aquamarine;
  border: 2px solid black;

}


footer{
  height: 40px;
  width: 100%;
  background-color: #343434;

}